/* CSS file for variables and global styles */

:root {
    --mala-red: #c0392b;
    --mala-dark-red: #7F1C1C;
    --mala-brown: #964b00;
    --mala-orange: #f2994a;
    --mala-yellow: #f2c94c;
    --mala-light-yellow: #fff8d9;
    --mala-black: #222222;
    --mala-white: #f9f9f9;
    --mala-light-bg: #fff8f8;
    --mala-card-bg: #f8efe2;
    --mala-card-border: #e0d5c9;
    --mala-star-color: goldenrod;

    /* varying gradient values to account for different browsers */
    --mala-spicy-gradient: linear-gradient(111.4deg, rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58%);
    --mala-hot-gradient: linear-gradient(90deg, hsla(24, 100%, 83%, 1) 0%, hsla(341, 91%, 68%, 1) 100%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--mala-light-bg);
    color: var(--mala-black);
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: var(--mala-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(196, 30, 58, 0.1);
    overflow: hidden;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

@keyframes spicy-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); filter: brightness(1.1); }
    100% { transform: scale(1); }
}

/* Responsive Adjustments */
@media (max-width: 600px) {

    .quiz-container {
      padding: 1.5rem;
      margin: 1rem;
      border-radius: 10px;
    }
}